.code-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 25px;
}
.code-label {
    margin: 0 auto;
}
.code-inputs {
    margin: 0 auto;
    margin-top: 10px;
}
.code-inputs input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 0 4px;
    border: 2px solid #4f5b66;
    font-size: 20px;
}
.code-inputs input:focus {
    outline: none;
}
.code-inputs input:nth-child(3n) {
    // margin-right: 10px;
}
