.form-control {
    width: 85%;
}
.form-label {
    width: 15%;
}
.mb-3 {
    h3 {
        margin-right: 10%;
        font-size: 16px;
        margin-top: 5px;
    }
}
.form-select {
    font-size: 16px !important;
}
fieldset {
}
.mb-3 {
    margin-top: 10px;
}
.input-text {
    font-size: 16px !important;
    // padding: 5px 10px !important;
}
.modal-content {
    margin-top: 10px;
}
.required {
    font-size: 16px;
}
#exampleFile {
    font-size: 13px;
}
