.notify-complete {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 160px;
    height: 40px;
    background-color: rgb(55, 198, 39);
    z-index: 999;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    p {
        font-size: 1.6em;
        margin: 0;
        color: white;
    }
}
