.wrapper-filter {
    display: flex;
    justify-content: space-between;
}
.category-title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 4px;
}

.sort {
    font-size: 1.4rem;
    line-height: 32px;
    display: flex;

    p {
        margin: 0;
        margin-right: 8px;
    }

    select {
        cursor: pointer;
        border: none;
        padding: 0px 10px;
        border: 1px solid #dadada;
        outline: none;
    }
    option {
    }
}

.hr-category {
    border-top: 3px dotted #c9c9c9;
    margin-top: 15px;
}

.wrapper-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.product-category {
    height: auto;
}
.sidebar {
    height: auto;
}
.sidebar-top {
}
.sidebar-bottom {
    padding-top: 15px;
}
.sidebar-top,
.sidebar-bottom {
    height: auto;
    padding-left: 20px;

    h5 {
        width: max-content;
        color: #666;
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 10px;
        z-index: 1;
        background-color: white;
        padding-right: 5px;
    }
    .sidebar-top-title {
        display: flex;
        position: relative;
        .hr {
            position: absolute;
            border-bottom: 1px solid #333;
            height: 1px;
            width: 100%;
            margin-top: 19px;
            left: 0;
            top: 0;
        }
    }
}

.hr-category-bottom {
    height: 1px;
    clear: left;
    width: 100%;
    border-bottom: 1px solid #333;
    padding-top: 30px;
}
.page-category-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    height: 50px;
}
.like-share {
    width: 65%;
    iframe {
        width: 100%;
    }
}
.pagination {
    height: fit-content;
}
._2tga._8j9v {
    border-radius: 3px;
    font-size: 1.2rem;
    height: 2.4rem;
    padding: 0.4rem 0.6rem;
}
span#u_0_3_1m {
    font-size: 1.3rem;
}

button.page-link {
    padding: 0.6rem 1.3rem;
}
//tìm kiếm
.input-search {
    outline: none;
    border-radius: 2px;
    width: 100%;
    padding: 4px 30px 4px 10px;
    border: 1px solid rgb(201, 201, 201);
    font-size: 14px;
}
.button-search {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
    height: 90%;
    width: 30px;
    background-color: #fff;
    border: none;
    svg {
        font-size: 15px;
        color: rgb(114, 114, 114);
    }
}
.form-search {
    margin-top: 20px;
    position: relative;
    margin-bottom: 25px;
}
