header {
}

.header-top {
    height: 40px;
    background-color: #292929;
    font-size: 1.4rem;
    color: #ccc;
}

.header-top-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-top-left {
    display: flex;
    p {
        margin: 0;
        margin-left: 5px;
    }
}

.icon-phone {
    margin-top: 2px;
}

.header-top-right {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        padding: 9px 0;
    }
    a {
        color: #ccc;
        padding: 0 15px;
        border-right: 1px solid #3a3a3a;
        cursor: pointer;
        &:hover {
            color: var(--primary);
        }
    }
}

.header-bottom {
    height: 80px;
    background: var(--background);
    z-index: 999;
    width: 100%;
    transition: all 0.8s;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.header-bottom-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
}

.navbars {
    display: flex;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-list {
    margin: 0;
    padding: 0;
    .nav-item {
        display: inline-block;
        position: relative;
        &:hover > .dropdown-Menu {
            display: block;
        }
    }
    a {
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 15px 20px;
        position: relative;
        &:hover {
            color: var(--primary);
            transition: all 0.5s;
        }
    }
}

//------------------------------Hot

.nav-badge {
    height: 17px;
    position: absolute;
    background: #b31f2a;
    top: -3px;
    padding: 0 5px;
    font-size: 11px;
    text-transform: none;
    right: 15px;
    color: #fff;
    &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 4px 3px 0;
        border-color: #b31f2a transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -4px;
        left: 3px;
    }
}

//------------------------------Nav right

.navbar-right {
    display: flex;
    margin-left: 102px;
}

.btn-cart,
.btn-search {
    width: 32px;
    height: 32px;
    background-color: #ededed;
    border-radius: 3px;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: 1px solid #ededed;
    &:hover {
        border: 1px solid var(--primary);
    }
}

.btn-cart:hover > .cart {
    height: 465px;
    border: solid 1px #666;
    padding: 20px 30px;
}

.btn-cart::before {
    content: '';
    width: 34px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: -8px;
}
.cart-icon,
.search-icon {
    font-size: 12px;
    color: #762802;
}

.search-home {
    position: absolute;
    height: 0;
    top: 37px;
    right: -1px;
    width: 330px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    &::before {
        content: '';
        width: 32px;
        height: 8px;
        display: block;
        position: absolute;
        right: 0;
        top: -7px;
    }

    input {
        font-size: 1.3rem;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
        outline: none;
        color: var(--text-color);
        border: none;
        outline: none;
    }
}
.btn-search:hover > .search-home {
    height: 52px;
    border: 1px solid #3a3a3a;
}
//go to top

.go-to-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    button {
        background-color: var(--text-color);
        border: none;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        transition: all 0.8s;
    }
    button:hover {
        background-color: var(--primary);
    }
    i {
        font-size: 2rem;
        color: #cccccc;
    }
}
//mobile
.mobile {
    display: flex;
}
.btn-search-mobile,
.btn-cart-mobile {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #bcbcbc;
    &:hover {
        border: 1px solid var(--primary);
    }
    a {
        padding: 5px 11px;
    }
}
.btn-toggle {
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    button {
        border: none;
        background-color: #dadada;
        width: 36px;
        height: 36px;
    }
    i {
        color: #762802;
    }
}
.nav-mobile {
    background-color: #f0f0f0;
    border-top: 1px solid #d3d3d3;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 70px);
    left: -100vw;
    bottom: 0;
    z-index: 999;
    padding: 10px 0;
    transition: all ease 0.3s;
    a,
    & > .dropdown-mobile > span {
        color: var(--text-color);
        display: block;
        padding: 10px 30px;
        font-size: 1.5rem;
        &:hover {
            color: var(--primary);
        }
    }
    a {
        position: relative;
    }
    .nav-badge {
        height: 17px;
        position: absolute;
        background: #b31f2a;
        top: 5px;
        right: 50px;
        padding: 0 5px;
        font-size: 11px;
        text-transform: none;
        color: #fff;
        width: min-content;
    }
}
.nav-menu-mobile {
    position: static !important;
    transform: none !important;
}
.dropdown-mobile {
    & > span {
        width: 100%;
    }
    div {
        background-color: #f0f0f0;
        padding: 0;
        border: none !important;
    }
    ul {
        padding: 0;
    }
    li {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
    a {
        font-size: 1.4rem;
        padding-left: 5%;
    }
}
